/** @breakpoints
------------------------------------------------------
  
  Define here breakpoint vars. xs, sm, md, lg, xl, xxl

------------------------------------------------------*/

// Define map of breakpoints to help in other functions
$breakpoints: (
  xs : 320px,
  sm : 480px,
  md : 720px,
  lg : 1020px,
  xl : 1200px,
  xxl: 1920px
);


// Individual breakpoints
$breakpoint__xs : map-get($breakpoints, xs);
$breakpoint__sm : map-get($breakpoints, sm);
$breakpoint__md : map-get($breakpoints, md);
$breakpoint__lg : map-get($breakpoints, lg);
$breakpoint__xl : map-get($breakpoints, xl);
$breakpoint__xxl: map-get($breakpoints, xxl);