/**
  @configs
------------------------------------------------------
  base/_config.scss
------------------------------------------------------


  Global configuration variables are defined here. 
  colors, spacing, grid settings, font sizes...etc


------------------------------------------------------*/

// @color
@import './color';
// @breakpoint
@import './breakpoints';

/** @unit
------------------------------------------------------
  
  Define here global unit space, this unit help us to 
  keep space semanticity

------------------------------------------------------*/
$unit: 1.25rem;




/** @font-size
------------------------------------------------------
  
  Define here global font size vars, here are following
  font sizes:

    + smaller
    + small
    + normal
    + medium
    + large
    + larger

------------------------------------------------------*/

$font-size--smaller: 12px;
$font-size--small: 14px;
$font-size--normal: 16px;
$font-size--medium: 20px;
$font-size--large: 22px;
$font-size--larger: 26px;