/**
  @buttons
------------------------------------------------------
    elements/_buttons.scss
------------------------------------------------------


  Define button elements here.

  Has default button and by each color context.


------------------------------------------------------*/


// Default button
.button {
  border-radius: 2px;
  outline: none;
  border: none;
  background-color: $color__lightgray;
  color: $color__black;
  padding: $unit/2 $unit*2;
  font-size: $font-size--small;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 0 2px rgba($color__gray, .5);
  }


  // Modefie by each color context
  // example .button--info, .button--primary
        @each $mode,
        $color in $color__context-map {
    &--#{$mode} {
      @if $mode =='warning' {
        color: darken($color, 45);
      }@else {
        color: white;
      }
      background-color: $color;
    
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, .5);
      }
    }
  }
}
.buttons {

  &--addon {
    @include addon('button');
  }
}