/**
  @tag
------------------------------------------------------
  elements/_tag.scss
------------------------------------------------------


  Define tag elements here.

  Has default button and by each color context.


------------------------------------------------------*/



.tag {
  display: inline-block;
  border-radius: 2px;
  padding: $unit/3 $unit;
  font-size: $font-size--smaller;
  background-color: $color__lightgray;
  color: $color__black;



  // Modefie by each color context
  // example .tag--info, .tag--primary
  @each $mode,
  $color in $color__context-map {
    &--#{$mode} {

      @if $mode =='warning' {
        color: darken($color, 45);
      }

      @else {
        color: white;
      }

      background-color: $color;

      &:focus {
        box-shadow: 0 0 0 2px rgba($color, .5);
      }
    }
  }
}