/**
  @configs
------------------------------------------------------
  base/_config.scss
------------------------------------------------------


  Global configuration variables are defined here. 
  colors, spacing, grid settings, font sizes...etc


------------------------------------------------------*/





/** @color-context
------------------------------------------------------

  Color context global variables, try to associate a
  context like "success", "info", "danger" to a color
  here we have a list of those contexts

------------------------------------------------------*/

$color-contexts: (
  "primary", 
  "secondary", 
  "info", 
  "success", 
  "warning", 
  "danger"
);


/** @colors
------------------------------------------------------
  
  
  All color variables are defined here.

  Use real color names here (red, green, blue...etc).

  All declared vars most apply this format: "$color__[name]",
  also we can create color using a UI context like "error" or
  "success"


------------------------------------------------------*/

// colors
$color__black: #121110;
$color__gray: lighten($color__black, 50);
$color__gray--light: #EAEAE0;
$color__offwhite: whitesmoke;
$color__white: white;


// Map of contexualized colors
$color-context-map: (
  "primary": #FFFF00,
  "secondary": #F52EC0,
  "info": #278AB0,
  "success": #1DC690,
  "warning": #FEC84D,
  "danger": #E42256
);

// Individual contextualized colors
$color__primary: map-get($color-context-map, "primary");
$color__seconday: map-get($color-context-map, "secondary");
$color__info: map-get($color-context-map, "info");
$color__success: map-get($color-context-map, "success");
$color__warning: map-get($color-context-map, "warning");
$color__danger: map-get($color-context-map, "danger");




/** @breakpoints
------------------------------------------------------
  
  Define here breakpoint vars. xs, sm, md, lg, xl, xxl

------------------------------------------------------*/

// Define map of breakpoints to help in other functions
$breakpoints: (
  xs : 320px,
  sm : 480px,
  md : 720px,
  lg : 1020px,
  xl : 1200px,
  xxl: 1920px
);


// Individual breakpoints
$breakpoint__xs : map-get($breakpoints,xs);
$breakpoint__sm : map-get($breakpoints,sm);
$breakpoint__md : map-get($breakpoints,md);
$breakpoint__lg : map-get($breakpoints,lg);
$breakpoint__xl : map-get($breakpoints,xl);
$breakpoint__xxl: map-get($breakpoints,xxl);




/** @unit
------------------------------------------------------
  
  Define here global unit space, this unit help us to 
  keep space semanticity

------------------------------------------------------*/

$unit: 1.25rem;




/** @font-size
------------------------------------------------------
  
  Define here global font size vars, here are following
  font sizes:

    + smaller
    + small
    + normal
    + medium
    + large
    + larger

------------------------------------------------------*/

$font-size--smaller: 12px;
$font-size--small: 14px;
$font-size--normal: 16px;
$font-size--medium: 20px;
$font-size--large: 22px;
$font-size--larger: 26px;